
body{
	background-color: #B3B8AC;
}

ul {
	list-style-type: square inside;
	background: #292829;
	padding: 20px;
}
ul li{
	border-bottom-style: inset;
	border-left-style: inset;
	border-left-color: #C58AF0; 
	border-bottom-color: #C58AF0;
	background: #482F63;
	margin: 5px;
}

a:link{
	color: #BDF9F9;
}
