/* --All pages-- */
nav li a:hover {
  background-color: #CE0302 !important;
}

.below_menu_container
{
  padding-top: 50px;
  margin: 5px;
  background: #D9D9D9;
  border-color: #CE0302;
  border-style: solid;
  border-width: 3px;
}

/* --Filming Locations-- */
.post-content 
{
    top:0;
    left:0;
    position: absolute;
}

.thumbnail
{
    position:relative;
}

@font-face {
  font-family: butcherman;
  src: url(butcherman.regular.ttf);
}

h1{
  font-family: butcherman;
}

h3
{
  color: #E7E8D1 !important; 
  font: bold 24px/45px arial, Sans-Serif; 
  letter-spacing: -1px;  
  background: rgb(0, 0, 0); /* fallback color */
  background: rgba(0, 0, 0, 0.7);
  padding: 10px; 
}

/*--Cast Table-- */
th{
	height: 35px;
	padding:5px;
	font-size: 20px;
}

td{
	text-align: center;
	vertical-align: middle;
	padding:5px;
}

/*--Forms--*/
input[type=text]:focus{
    border: 2px solid #CE0302;
}

<<<<<<< HEAD
footer {
  text-align: center;
  background-color: #CCC;
  border: 1px;
  border-style: solid;
  border-color: #111
=======
.locations{
    width: 500px;
    height: 350px;
}

#dunn { 
   position: relative; 
   left:30px;
   width: 100%;
}

#cowles{
   position: relative; 
   left: 670px;
   top: -355px;
   width: 100%;
}

#buxton{
   position: relative; 
   left: 30px;
   top: -255px;
   width: 100%; 
}

#plaza{
   position: relative;
   left: 670px; 
   top: -610px;
   width: 100%; 
}

#college_hall{
   position: relative;
   left: 30px;
   top: -510px;
   width: 100%; 
}

#carver{
  position: relative;
  left: 670px;
  top: -865px;
  width: 100%;
>>>>>>> d5f320f387d8ee25742c8ca348ffe05ba1c16fc0
}