/* --All pages-- */
nav li a:hover {
  background-color: #CE0302 !important;
}

.below_menu_container
{
  padding-top: 70px;
}

/* --Filming Locations-- */
.post-content 
{
    top:0;
    left:0;
    position: absolute;
}

.thumbnail
{
    position:relative;
}

@font-face {
  font-family: butcherman;
  src: url(butcherman.regular.ttf);
}

h1{
  font-family: butcherman;
}

h3
{
  color: #E7E8D1 !important; 
  font: bold 24px/45px arial, Sans-Serif; 
  letter-spacing: -1px;  
  background: rgb(0, 0, 0); /* fallback color */
  background: rgba(0, 0, 0, 0.7);
  padding: 10px; 
}

/*--Cast Table-- */
th{
	height: 35px;
	padding:5px;
	font-size: 20px;
}

td{
	text-align: center;
	vertical-align: middle;
	padding:5px;
}

/*--Forms--*/
input[type=text]:focus{
    border: 2px solid #CE0302;
}

footer {
  text-align: center;
  background-color: #CCC;
  border: 1px;
  border-style: solid;
  border-color: #111
}

.btn-success {
  margin-bottom: 30px;
}