/* --All Pages--*/
footer{
    clear: left;
}

h1{
  text-decoration: none;
  color: #CE0302;
  font-family: "Copperplate Gothic Light", sans-serif;
  font-size: 70px;
  font-weight: bold;
  margin: 5px;
  padding: 5px;
}

section{
  background: #D9D9D9;
  max-width: 800px;
  border-color: #CE0302;
  border-style: solid;
  border-width: 3px;
  padding: 5px;
  margin: 5px;
}

body{
  background-color: #B5B5B5;
  font-family: arial, sans-serif;
}

/* --- Nav Bar --- */
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  font-family: arial,sans-serif;
}

nav li {
  float: left;
}

nav li a {
  display: block;
  color: #D9D9D9;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav li a:hover {
  background-color: #CE0302;
}

/* --Filming Locations-- */
.locations{
    width: 500px;
    height: 350px;
}

#dunn { 
   position: relative; 
   left:30px;
   width: 100%;
}

#cowles{
   position: relative; 
   left: 670px;
   top: -355px;
   width: 100%;
}

#buxton{
   position: relative; 
   left: 30px;
   top: -255px;
   width: 100%; 
}

#plaza{
   position: relative;
   left: 670px; 
   top: -610px;
   width: 100%; 
}

#college_hall{
   position: relative;
   left: 30px;
   top: -510px;
   width: 100%; 
}

#carver{
  position: relative;
  left: 670px;
  top: -865px;
  width: 100%;
}

h3 { 
   position: absolute; 
   top: 200px; 
   left: 0; 
}

h3 span { 
   color: #E7E8D1; 
   font: bold 24px/45px arial, Sans-Serif; 
   letter-spacing: -1px;  
   background: rgb(0, 0, 0); /* fallback color */
   background: rgba(0, 0, 0, 0.7);
   padding: 10px; 
}

/*--Cast Table-- */
table{
	font-family: arial, sans-serif;
	border-collapse: collapse;
	width: 100%;
}

table, th, td{
	border: 1px solid #E7E8D1;
}

th{
	height: 35px;
	padding:5px;
	color:#CE0302;
	background-color:#333;
	font-size: 20px;
}

td{
	text-align: center;
	vertical-align: middle;
	padding:5px;
	background-color: #333;
	color:#CE0302;
}

/*--Episode List--*/
ol li{
   margin:5px;
}

/*--Forms--*/
form{

}

input[type=text]{
    box-sizing: border-box;
    width: 300px;
    padding: 10px;
    margin: 10px 0px;
    border: 3px solid #333;
    border-radius: 5px;
}

input[type=text]:focus{
    border: 3px solid #CE0302;
}

input[type=submit]{
    background-color: #333;
    border:none;
    color: #E7E8D1;
    padding: 10px;
    width: 100px;
    border-radius: 5px;
    cursor: pointer;
}