body{
  background-color: #B5B5B5;
}

/* --- Nav Bar --- */
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  font-family: arial,sans-serif;
}

nav li {
  float: left;
}

nav li a {
  display: block;
  color: #E7E8D1;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav li a:hover {
  background-color: #CE0302;
}

.locations{
    width: 300px;
    height: 300px;
}

#dunn { 
   position: relative; 
   width: 100%;
}

#cowles{
   position: relative; 
   width: 100%;
}

#buxton{
   position: relative; 
   width: 100%; 
}

#plaza{
   position: relative; 
   width: 100%; 
}

#college_hall{
   position: relative; 
   width: 100%; 
}

h3 { 
   position: absolute; 
   top: 200px; 
   left: 0; 
}

h3 span { 
   color: #E7E8D1; 
   font: bold 24px/45px Helvetica, Sans-Serif; 
   letter-spacing: -1px;  
   background: rgb(0, 0, 0); /* fallback color */
   background: rgba(0, 0, 0, 0.7);
   padding: 10px; 
}

footer{
    clear: left;
}

h1{
  text-decoration: none;
  color: #CE0302;
  font-family: Copperplate Gothic Light, sans-serif;
  font-size: 60px;
  font-weight: bold;
  margin: 5px;
  background-color: #E7E8D1;
  padding: 5px;
}

section{
  background: #E7E8D1;
  max-width: 800px;
  padding: 5px;
}

article{
  color: #333;
  border-style: solid;
  border-width: 3px;
  border-radius: 5px;
  margin: 5px;
  padding: 5px;
}